@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto&family=VT323&display=swap');
/* font-family: 'IBM Plex Mono', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'VT323', monospace; */

:root {
    --white: #cfcfcf;
    --black: #131313;
  }

body {
    background-color: var(--black) !important;
    color: var(--white) !important;
}

h1, h2, h3 {
    color: var(--white) !important;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 100px;
}

#editor-container, #preview-container {
    width: 100%;
}

#editor-container {
    margin: 50px 0px 20px 0px;
    border: 2px solid var(--white);
    background-color: var(--black);
}

#editor-content {
    display: flex;
    justify-content: center;
}

textarea {
    background-color: var(--black) !important;
    width: 100%;
    font-family: 'IBM Plex Mono', monospace !important;
    font-size: 14px !important;
    color: var(--white);
}

.toolbar {
    height: 30px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--white); 
}

.toolbar i {
    margin-right: 10px;
    font-size: 14px;
}

.toolbar h2 {
    width: 100%;
    font-family: 'VT323', monospace;
    font-size: 20px;
    margin: 0px 0px 0px 10px;
}

#preview {
    min-height: 200px;
    background-color: var(--black);
}

#preview-container {
    border: 2px solid var(--white);
}