:root {
    --black:            #121416ff;
    --lighterblack:     rgb(34, 38, 42);
    --gray:             rgb(101, 102, 107);
    --lightgreen:       #a5ff8eff;
    --white:            #f5f5f5ff;
    --faded-green:      #ceffc2ff;
    --red:              rgb(141, 48, 48);
    --blue:             rgb(65, 88, 170);
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Rajdhani', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.grid {
    display: grid;
    width: 360px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "display display display display"
        "all-clear clear divide multiply"
        "seven eight nine subtract"
        "four five six add"
        "one two three equals"
        "zero zero decimal equals"
    ;
}

.padButton {
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    border: 1px solid var(--black);
    cursor: pointer;
}

.padButton:hover {
    filter: brightness(150%);
}

#display-box {
    grid-area: display;
    background-color: var(--lighterblack);
    padding: 0px;
    height: 90px;
}

#display {
    height: 100%;
    width: 100%;
    font-size: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #decimal {
    background-color: var(--lighterblack);
}

#all-clear, #clear {
    background-color: var(--red);
}

#divide, #multiply, #subtract, #add {
    background-color: var(--gray);
}

#equals {
    background-color: var(--blue);
}

#zero {
    grid-area: zero;
}

#equals {
    grid-area: equals;
}